{% extends "layout.html" %}

{% block title %}
    Activities
{% endblock %}

{% block main %}
    <h1>
        Activites
    </h1>
    <h2>
        Track your self-care hours here!
    </h2>
    <img alt="Growing plants" src="static/activities.png" width="50%">
    <p>
        Hint: If you'd like to update the amount for a particular day, just fill out the form with the same date but with the new value! To delete an entry, enter the date you'd like to delete with no amount!
    </p>
    <div class="flex">
        <div class="flex-child">
            <h4>
                Sleep
            </h4>
            <img alt = "sleep graph" src='data:image/png;base64,{{sleep}}' width=450px/>
            <form action="/sleep" method="post">
                <div class="mb-3">
                    <input autocomplete="off" class="form-control mx-auto w-auto" name="date" placeholder="Date" type="date">
                </div>
                <div class="mb-3">
                    <input autocomplete="off" class="form-control mx-auto w-auto" name="amount" placeholder="Hours" type="text">
                </div>
                <button class="btn btn-info" type="submit">Add Sleep</button>
            </form>
        </div>
        <div class="flex-child">
            <h4>
                Water
            </h4>
            <img alt = "water graph" src='data:image/png;base64,{{water}}' width=450px/>
            <form action="/water" method="post">
                <div class="mb-3">
                    <input autocomplete="off" class="form-control mx-auto w-auto" name="date" placeholder="Date" type="date">
                </div>
                <div class="mb-3">
                    <input autocomplete="off" class="form-control mx-auto w-auto" name="amount" placeholder="Liters" type="text">
                </div>
                <button class="btn btn-info" type="submit">Add Water</button>
            </form>
        </div>
        <div class="flex-child">
            <h4>
                Exercise
            </h4>
            <img alt = "exercise graph" src='data:image/png;base64,{{exercise}}' width=450px/>
            <form action="/exercise" method="post">
                <div class="mb-3">
                    <input autocomplete="off" class="form-control mx-auto w-auto" name="date" placeholder="Date" type="date">
                </div>
                <div class="mb-3">
                    <input autocomplete="off" class="form-control mx-auto w-auto" name="amount" placeholder="Minutes" type="text">
                </div>
                <button class="btn btn-info" type="submit">Add Exercise</button>
            </form>
        </div>
        <div class="flex-child">
            <h4>
                Down Time
            </h4>
            <img alt = "down time graph" src='data:image/png;base64,{{relax}}' width=450px/>
            <form action="/relaxation" method="post">
                <div class="mb-3">
                    <input autocomplete="off" class="form-control mx-auto w-auto" name="date" placeholder="Date" type="date">
                </div>
                <div class="mb-3">
                    <input autocomplete="off" class="form-control mx-auto w-auto" name="amount" placeholder="Minutes" type="text">
                </div>
                <button class="btn btn-info" type="submit">Add Relaxation</button>
            </form>
        </div>
    </div>
    
{% endblock %}