{% extends "layout.html" %}

{% block title %}
    Analytics
{% endblock %}

{% block main %}
    <h1>
        Analytics
    </h1>
    <h2>
        See basic statistics of your wellness activities here!
    </h2>
    <div>
        <h4>
            Goal completion
        </h4>
        <p>
            Total goals logged (including deleted): {{ total }} 
        </p>
        <p>
            Total goals completed (including deleted): {{ complete }} 
        </p>
        <p class="large">
            Goals Pie Chart:
        </p>
        <img alt = "Current Goals Completion Pie Chart" src='data:image/png;base64,{{pie}}' width=450px/>
    </div>
    <div>
        <h4>
            Average Time Spent on each activity
        </h4>
        <div class="flex">
            <div class="flex-child">
                <b class="large">Sleep</b>
                <p>Overall Average:</p>
                <p class="purple large">{{sleep_overall}} Hours</p>
                <p>History:</p>
                <table class="table tablestriped">
                    <thead>
                        <tr>
                            <th class="purple large">Date</th>
                            <th class="purple large">Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in sleep %}
                        <tr>
                            <td>{{ i.date }}</td>
                            <td>{{ i.amount }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="flex-child">
                <b class="large">Water</b>
                <p>Overall Average: </p>
                <p class="blue large">{{water_overall}} Liters</p>
                <p>History:</p>
                <table class="table tablestriped">
                    <thead>
                        <tr>
                            <th class="blue large">Date</th>
                            <th class="blue large">Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in water %}
                        <tr>
                            <td>{{ i.date }}</td>
                            <td>{{ i.amount }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="flex-child">
                <b class="large">Exercise</b>
                <p>Overall Average: </p>
                <p class="red large">{{exercise_overall}} Minutes</p>
                <p>History:</p>
                <table class="table tablestriped">
                    <thead>
                        <tr>
                            <th class="red large">Date</th>
                            <th class="red large">Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in exercise %}
                        <tr>
                            <td>{{ i.date }}</td>
                            <td>{{ i.amount }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="flex-child">
                <b class="large">Down Time</b>
                <p>Overall Average: </p>
                <p class="green large">{{relax_overall}} Minutes</p>
                <p>History:</p>
                <table class="table tablestriped">
                    <thead>
                        <tr>
                            <th class="green large">Date</th>
                            <th class="green large">Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in relax %}
                        <tr>
                            <td>{{ i.date }}</td>
                            <td>{{ i.amount }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}