{% extends "layout.html" %}

{% block title %}
    Welcome
{% endblock %}

{% block main %}
    <h1>
        Welcome to Down Time{{ name }}!
    </h1>
    <h2>
        Your all-in-one wellness tracker
    </h2>
    <img alt="Stacked rocks" src="static/home_image.jpg" width="50%">
    <p>
        Do you love having free time? Do you love taking care of yourself? Do you wish you could track the things you're doing just for you? 
    </p>
    <p>
        Then Down Time is the perfect web application for you!
    </p>
    <p>
        On the activities page, you will be able to log how much time you are spending on sleep, exercise, and relaxation activities and how much water you are drinking. You will also be able to see graphs of how much you are doing each activity over time.
    </p>
    <p>
        Want to pursue specific wellness tasks? The goals page will allow you to create a to-do list of what you'd like to try while the recommendations page will provide suggestions for what you could try next!
    </p>
    <p>
        Finally, feel free to view your analytics and change your account settings!
    </p>
{% endblock %}