{% extends "layout.html" %}

{% block title %}
    Account
{% endblock %}

{% block main %}
    <h1>
        Account Settings
    </h1>
    <div>
        <h3>
            Change Username
        </h3>
        <p>Current username: {{ username }}</p>
        <form action="/username" method="post">
            <div class="mb-3">
                <input autocomplete="off" class="form-control mx-auto w-auto" id="new_username" name="new_username" placeholder="New Username" type="text"> 
            </div>
            
            <button class="btn btn-info" type="submit">Change</button>
        </form>
    </div>
    <div>
        <h3>
            Change Password
        </h3>
        <form action="/password" method="post">
            <div class="mb-3">
                <input autocomplete="off" class="form-control mx-auto w-auto" id="current_password" name="current_password" placeholder="Current Password" type="password">
            </div>
            <div class="mb-3">
                <input autocomplete="off" class="form-control mx-auto w-auto" id="new_password" name="new_password" placeholder="New Password" type="password">
            </div>
            <div class="mb-3">
                <input autocomplete="off" class="form-control mx-auto w-auto" id="confirm_password" name="confirm_password" placeholder="Confirm Password" type="password">
            </div>
            <button class="btn btn-info" type="submit">Change</button>
        </form>
    </div>
    <div>
        <h3>
            Change Color Scheme
        </h3>
        <p>Current Color Scheme: {{ theme }} </p>
        <form action="/color" method="post">
            <select id="theme" name="theme">
                <option value="light" selected>Light</option>
                <option value="dark">Dark</option>
                <option value="pastel">Pastel</option>
            </select>
            <button class="btn btn-info" type="submit">Change</button>
        </form>
    </div>
    
{% endblock %}